In [2]:
import pandas as pd
import os
import sqlite3

In [15]:
data = {"filename": ["START__"], "process_step": ["START__"], "time_stamp": ["START__"]}
df = pd.DataFrame.from_dict(data)

In [16]:
df.to_csv(r"C:\Users\mosel\PycharmProjects\article_labelling\database\file_processing.csv", index=False)

In [8]:
os.rename("./data/0_pdf/jit.2015.5.pdf", "./data/0_pdf/0002_jit.2015.5.pdf")

In [23]:
for f in os.listdir("./data/0_pdf/"):
    no_prefix = f[:-5]
    print(no_prefix)

0001_0001_ChatGPT_is_bullshi
0002_0002_jit.2015.
0003_s41586-022-05543-
0004_SciAm-1949-Weave
0005_TortoiseandSoftware-MooresLawetcJUS8-1

In [12]:
num = 1
str(num).zfill(3)

'001'

In [11]:
pd.read_csv("./database/file_processing.csv")

  filename process_step time_stamp
0  START__      START__    START__

In [13]:
row_data = ["text_1", "text_2", "text_3"] 

import csv 
with open("./database/file_processing.csv", "a") as f: 
    writer = csv.writer(f)
    writer.writerow(row_data)

In [20]:
pd.read_csv("./database/file_processing.csv")

                       filename process_step                  time_stamp
0                       START__      START__                     START__
1  0001_ChatGPT_is_bullshit.pdf     to_image  2024-11-03 17:11:51.582091
2           0002_jit.2015.5.pdf     to_image  2024-11-03 17:12:00.745421
3   0003_s41586-022-05543-x.pdf     to_image  2024-11-03 17:12:19.794577
4    0004_SciAm-1949-Weaver.pdf     to_image  2024-11-03 17:12:23.373845

In [2]:
import pandas as pd
data = pd.read_csv("output.csv")
data.query("filename != '0001_ChatGPT_is_bullshit.pdf'")["text"].iloc[2].replace("-\n", " ").replace("\n", " ")

'This article describes an emergent logic of accumulation in the networked sphere, ‘surveillance capitalism,’ and considers its implications for ‘information civilization.’ The institutionalizing practices and operational assumptions of Google Inc. are the primary lens for this analysis as they are rendered in two recent articles authored by Google Chief Economist Hal Varian. Varian asserts four uses that follow from computer-mediated transactions: ‘data extraction and analysis,’ ‘new contractual forms due to better monitor ing,’ ‘personalization and customization,’ and ‘continuous experiments.’ An examination of the nature and consequences of these uses sheds light on the implicit logic of surveillance capitalism and the global architecture of computer mediation upon which it depends. This architecture produces a distributed and largely uncontested new expression of power that I christen: ‘Big Other.’ It is constituted by unexpected and often illegible mechanisms of extraction, commodification, and control that effectively exile persons from their own behavior while producing new markets of behavioral prediction and modification. Surveil lance capitalism challenges democratic norms and departs in key ways from the centuries long evolution of market capitalism.'

## Database

### functions

In [5]:
# define function to convert pd.DataFrame to sqlite.db
def df_to_db(input_df: pd.DataFrame,
             table_name: str,
             db_name: str = "verbatim.db"):
  
  # get columns
  cols = input_df.columns
  cols_string = ','.join(cols)
  val_wildcard_string = ",".join(["?"] * len(cols))
  
  # open connection to existing db or create new, create cursor instance for executing queries
  con = sqlite3.connect(db_name)
  cur = con.cursor()

  # write and execute create statement using input table_name and extracted column names
  try: 
    sql_string = f"""CREATE TABLE {table_name} ({cols_string});"""
    cur.execute(sql_string)
  except: 
    pass

  # write and execute another statement to insert rows into the table created above
  rows_to_upload = input_df.to_dict(orient="split")["data"]
  sql_string = f"""INSERT INTO {table_name} ({cols_string}) VALUES ({val_wildcard_string});"""
  cur.executemany(sql_string, rows_to_upload)

  # commit changes to db and close connection 
  con.commit()
  con.close()

In [35]:
# define function to execute queries on the created database and return a pd.DataFrame
def sql_query(sql_query_string: str, 
              db_name: str = "verbatim.db"):
  
  # connect to SQL db
  con = sqlite3.connect(db_name)

  # execute query
  cursor = con.execute(sql_query_string)

  # get data and column names
  result_data = cursor.fetchall()
  # description attribute returns a 7-tuple for which the last 6 items are None
  # index to get the first row which is the column
  if cursor.description == None:
      pass
  else: 
      cols = [description[0] for description in cursor.description]

      # return the result as a dataframe
      return pd.DataFrame(result_data, columns=cols)
    
  # close connection
  con.close()

In [33]:
# define function to execute queries on the created database and return a pd.DataFrame
def sql_insert(row_data: list, 
            db_name: str = "verbatim.db"):
      
    # connect to SQL db
    con = sqlite3.connect(db_name, timeout=10)
    cursor = con.cursor()
    
    # compile insert query
    insert_query = "INSERT INTO logging (filename, process_step, time_stamp) VALUES (?, ?, ?)"

    # convert data to tuple
    data_tuple = tuple(row_data)

    # execute the insert query
    cursor.execute(insert_query, data_tuple)
    con.commit()
    
    # close connection
    con.close()

### create db

In [9]:
# initialise data
data = {"filename": ["START__"], "process_step": ["START__"], "time_stamp": '2025-01-01 00:00:00'}
df = pd.DataFrame.from_dict(data)

# create the database
df_to_db(input_df=df, table_name="logging")

In [39]:
sql_string = """
SELECT * FROM logging
"""

sql_query(sql_string)

,filename,process_step,time_stamp
0,START__,START__,2025-01-01 00:00:00
1,pdf.pdf,to_image,2025-01-01 12:45:00
2,ChatGPT_is_bullshit.pdf,to_image,2025-01-19 21:35:45.582589
3,jit.2015.5.pdf,to_image,2025-01-19 21:35:52.828959
4,s41586-022-05543-x.pdf,to_image,2025-01-19 21:36:08.368009
5,SciAm-1949-Weaver.pdf,to_image,2025-01-19 21:36:11.666507
6,TortoiseandSoftware-MooresLawetcJUS8-14.pdf,to_image,2025-01-19 21:36:25.758932

In [38]:
# delete record from the table 
sql_string = """
DELETE FROM logging WHERE filename = 'ChatGPT_is_bullshit.pdf' 
"""

sql_query(sql_string)

In [20]:
a_row = ["pdf.pdf", "to_image", "2025-01-01 12:45:00"]

In [26]:
sql_insert(a_row)

In [ ]:
"INSERT INTO logging(filename, process_step, time_stamp) VALUES(, 'to_image', @now)"